<div class="min-h-screen bg-gray-100 dark:bg-gray-700 transition-colors">
  <header
    class="flex items-center justify-between px-4 py-3 border-b border-gray-700 dark:border-gray-400 bg-gray-250 dark:bg-gray-900"
  >
    <h1 class="font-semibold text-gray-900 dark:text-gray-100">
      {{ "APP.TITLE" | translate }}
    </h1>

    <div class="flex items-center gap-4">
      <button
        (click)="languageService.toggleLanguage()"
        class="flex items-center gap-2 text-sm text-gray-900 dark:text-gray-100 hover:text-primary transition"
        [title]="'APP.LANGUAGE' | translate"
      >
        <mat-icon> language </mat-icon>
        <span class="uppercase font-medium">
          {{ languageService.currentLanguage() }}
        </span>
      </button>

      <button
        (click)="themeService.toggle()"
        class="flex items-center gap-2 text-sm text-gray-900 dark:text-gray-100 hover:text-primary transition"
      >
        <mat-icon>
          {{ themeService.theme() === "dark" ? "light_mode" : "dark_mode" }}
        </mat-icon>
        <span>
          {{
            themeService.theme() === "dark"
              ? ("APP.LIGHT" | translate)
              : ("APP.DARK" | translate)
          }}
        </span>
      </button>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
