<section class="p-4 max-w-4xl mx-auto">
  <h1 class="text-2xl font-bold mb-4">Simulación de Transacciones</h1>

  <ng-container *ngIf="usersStore.loading(); else usersContent">
    <p class="text-gray-500">Cargando usuarios...</p>
  </ng-container>

  <ng-template #usersContent>
    <app-user-selector
      [users]="usersStore.users()"
      (userSelected)="onUserSelected($event)"
    ></app-user-selector>

    <app-transaction-form
      (submitTransaction)="onTransactionSubmit($event)"
      *ngIf="selectedUserId"
    ></app-transaction-form>
  </ng-template>

  <app-transactions-history></app-transactions-history>

  <p *ngIf="usersStore.error()" class="text-red-500 mt-2">
    {{ usersStore.error() }}
  </p>
</section>
